<?xml version="1.0" encoding="UTF-8"?>
<application>
	<title/>
	<coverFileName>portada.xml</coverFileName>
	<stylesFileName>style.xml</stylesFileName>
	<formatsFileName>format.xml</formatsFileName>
	<profileFileName></profileFileName>
	<entryPoint>
		<pointLevelId>listado_portada</pointLevelId>
		<pointDataId>listado_portada</pointDataId>
	</entryPoint>
	<menu>
		<topMenu>top_menu.xml</topMenu>
		<bottomMenu>bottom_menu.xml</bottomMenu>
		<backgroundMenu>images/menu/backgroundMenu.png</backgroundMenu>
	</menu>
	<!--<banner>
		<type>admob</type>
		<position>top</position>
		<id>a14b5f8130c17ef</id>
	</banner>
	<banner>
		<type>yoc</type>
		<position></position>
		<id>32088</id>
	</banner>-->
	<rotation>both</rotation>
	<levels>	
        <!-- SERVICIOS -->
		<level>
			<levelId>listado_portada</levelId>
			<levelTitle>Servicios</levelTitle>
			<levelFile>listado_portada.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelTransition>FlipLeft</levelTransition>
		</level>
        <!-- NOVEDADES -->
		<level>
			<levelId>consulta</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>consulta_borrador.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
            <levelTransition>None</levelTransition>
		</level>
        <level>
			<levelId>servicios</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>servicios.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
            <levelTransition>None</levelTransition>
		</level>
        <level>
			<levelId>modificacion</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>modificacion_borrador.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
            <levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>confirmacion</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>confirmacion_borrador.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
            <levelTransition>None</levelTransition>
		</level>
        <level>
			<levelId>referencia</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>referencia_borrador.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
            <levelTransition>None</levelTransition>
		</level>
        <level>
			<levelId>estado</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>estado_devolucion.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
            <levelTransition>None</levelTransition>
		</level>
        <level>
			<levelId>cer0</levelId>
			<levelTitle>cer0</levelTitle>
			<levelFile>cer0.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
            <levelTransition>None</levelTransition>
		</level>
        
        <level>
			<levelId>oficinas</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>oficinas_mapa.xml</levelFile>
			<levelType>MAP_ACTIVITY</levelType>
		</level>
        
        <level>
			<levelId>oficinas_info</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>oficinas_info.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
		</level>
        <level>
			<levelId>noticias</levelId>
			<levelTitle>Noticias</levelTitle>
			<levelFile>novedades.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
            <levelXib>novedadeslist</levelXib>
		</level>
        <level>
			<levelId>noticias_info</levelId>
			<levelTitle>Noticias info</levelTitle>
			<levelFile>novedades_info.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
		</level>
        <level>
			<levelId>videos</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>videos.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
            <levelXib>novedadeslist</levelXib>
		</level>
        <level>
			<levelId>videos_info</levelId>
			<levelTitle>Taller</levelTitle>
			<levelFile>videos_info.xml</levelFile>
			<levelType>VIDEO_ACTIVITY</levelType>
		</level>
        <level>
			<levelId>mas</levelId>
			<levelTitle>Mas</levelTitle>
			<levelFile>mas.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
            <levelXib>novedadeslist</levelXib>
		</level>
        <level>
			<levelId>info</levelId>
			<levelTitle>Noticias</levelTitle>
			<levelFile>info.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
            <levelXib>novedadeslist</levelXib>
		</level>
        <level>
			<levelId>info_info</levelId>
			<levelTitle>Noticias info</levelTitle>
			<levelFile>info_info.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
		</level>
        <level>
			<levelId>ayuda</levelId>
			<levelTitle>Noticias</levelTitle>
			<levelFile>ayuda.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
            <levelXib>novedadeslist</levelXib>
		</level>
        <level>
			<levelId>ayuda_ayuda</levelId>
			<levelTitle>Noticias info</levelTitle>
			<levelFile>ayuda_ayuda.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
		</level>
        	<level>
			<levelId>pdfs</levelId>
			<levelTitle>Web</levelTitle>
			<levelFile>pdfs.xml</levelFile>
			<levelType>PDF_ACTIVITY</levelType>
		</level>
        <level>
			<levelId>normativa</levelId>
			<levelTitle>Noticias</levelTitle>
			<levelFile>normativa.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
            <levelXib>novedadeslist</levelXib>
		</level>
        <level>
			<levelId>normativa_normativa</levelId>
			<levelTitle>Noticias info</levelTitle>
			<levelFile>normativa_normativa.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
		</level>
        <level>
			<levelId>pdfs_normativa</levelId>
			<levelTitle>Web</levelTitle>
			<levelFile>pdfs_normativa.xml</levelFile>
			<levelType>WEB_ACTIVITY</levelType>
			<levelTransition>FlipView</levelTransition>
		</level>
		<level>
			<levelId>web</levelId>
			<levelTitle>Web</levelTitle>
			<levelFile>web.xml</levelFile>
			<levelType>WEB_ACTIVITY</levelType>
			<levelTransition>FlipView</levelTransition>
		</level>
        <level>
			<levelId>Calendar</levelId>
			<levelTitle>Calendar</levelTitle>
			<levelFile>calendar.xml</levelFile>
			<levelType>CALENDAR_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
	</levels>
</application>
