<?xml version="1.0" encoding="UTF-8"?>
<application>
	<title/>
	<coverFileName>portada.xml</coverFileName>
	<stylesFileName/>
	<formatsFileName/>
	<profileFileName/>
	<entryPoint/>
	<menu/>
	<banner/>
	<rotation>both</rotation>
	<levels>
		<level>
			<levelId>crud</levelId>
			<levelTitle>ABM Personas</levelTitle>	
			<levelFile>table-test.xml</levelFile>
			<levelType>CRUD_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
	</levels>
</application>