<?xml version="1.0" encoding="UTF-8"?>
<application>
	<title/>
	<coverFileName>portada.xml</coverFileName>
	<stylesFileName>style.xml</stylesFileName>
	<formatsFileName>format.xml</formatsFileName>
	<profileFileName>profile.xml</profileFileName>
	<entryPoint>
		<pointLevelId></pointLevelId>
		<pointDataId></pointDataId>
	</entryPoint>
	<menu>
		<topMenu>top_menu.xml</topMenu>
		<bottomMenu>bottom_menu.xml</bottomMenu>
		<backgroundMenu>images/menu/backgroundMenu.png</backgroundMenu>
	</menu>
	<banner>
		<type>admob</type>
		<position>top</position>
		<id>a14b5f8130c17ef</id>
	</banner>
	<!-- 
	<banner>
		<type>yoc</type>
		<position>top</position>
		<id>32088</id>
	</banner>-->
	<rotation>both</rotation>
	<levels>
		<level>
			<levelId>Listado</levelId>
			<levelTitle>Listado</levelTitle>
			<levelFile>listado_lista.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>ListadoOnline</levelId>
			<levelTitle>Listado Online</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/listado_lista.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Lista con imagen</levelId>
			<levelTitle>Lista con imagen</levelTitle>
			<levelFile>imagen_lista.xml</levelFile>
			<levelType>IMAGE_LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Lista con imagen Online</levelId>
			<levelTitle>Lista con imagen</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/imagen_lista.xml</levelFile>
			<levelType>IMAGE_LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>NavegacionOnline</levelId>
			<levelTitle>Navegacion Online</levelTitle>
			<levelFile>navegacionOnline.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>ContenidosOnline</levelId>
			<levelTitle>Contenidos Online</levelTitle>
			<levelFile>contenidosOnline.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Galería Foto</levelId>
			<levelTitle>Galería Foto</levelTitle>
			<levelFile>galeria_foto.xml</levelFile>
			<levelType>IMAGE_GALLERY_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Galería Foto Online</levelId>
			<levelTitle>Galería Foto</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/galeria_foto.xml</levelFile>
			<levelType>IMAGE_GALLERY_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Galería Foto CurlDown</levelId>
			<levelTitle>Galería Foto</levelTitle>
			<levelFile>galeria_foto.xml</levelFile>
			<levelType>IMAGE_GALLERY_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>CurlDown</levelTransition>
		</level>
		<level>
			<levelId>Galeria video</levelId>
			<levelTitle>Galería video</levelTitle>
			<levelFile>galeria_video.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Galeria video Online</levelId>
			<levelTitle>Galería video</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/galeria_video.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>videos</levelId>
			<levelTitle>Video</levelTitle>
			<levelFile>videos.xml</levelFile>
			<levelType>VIDEO_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Galería audio</levelId>
			<levelTitle>Galería audio</levelTitle>
			<levelFile>galeria_audio.xml</levelFile>
			<levelType>AUDIO_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Botonera</levelId>
			<levelTitle>Botonera</levelTitle>
			<levelFile>botonera.xml</levelFile>
			<levelType>BUTTONS_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Botonera Online</levelId>
			<levelTitle>Botonera</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/botonera.xml</levelFile>
			<levelType>BUTTONS_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Menús</levelId>
			<levelTitle>Menús</levelTitle>
			<levelFile>menu_lista.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Diseño menú 1</levelId>
			<levelTitle>Diseño menú 1</levelTitle>
			<levelFile>menu_1_text.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Diseño menú 2</levelId>
			<levelTitle>Diseño menú 2</levelTitle>
			<levelFile>menu_2_text.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>emobc</levelId>
			<levelTitle>emobc</levelTitle>
			<levelFile>emobc.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Contenidos</levelId>
			<levelTitle>Contenidos</levelTitle>
			<levelFile>contenidos_lista.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Texto</levelId>
			<levelTitle>Texto</levelTitle>
			<levelFile>texto_contenido.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Texto Online</levelId>
			<levelTitle>Texto</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/texto_contenido.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Texto CurlUp</levelId>
			<levelTitle>Texto</levelTitle>
			<levelFile>texto_contenido.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>CurlUp</levelTransition>
		</level>
		<level>
			<levelId>Publicidad</levelId>
			<levelTitle>Publicidad</levelTitle>
			<levelFile>publicidad.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Listado con imagen</levelId>
			<levelTitle>Listado con imagen</levelTitle>
			<levelFile>imagen_lista_contenido.xml</levelFile>
			<levelType>IMAGE_LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Listado con imagen Online</levelId>
			<levelTitle>Listado con imagen</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/imagen_lista_contenido.xml</levelFile>
			<levelType>IMAGE_LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Galería video</levelId>
			<levelTitle>Galería video</levelTitle>
			<levelFile>video_contenido.xml</levelFile>
			<levelType>VIDEO_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Galería video Online</levelId>
			<levelTitle>Galería video</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/video_contenido.xml</levelFile>
			<levelType>VIDEO_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Foto</levelId>
			<levelTitle>Foto</levelTitle>
			<levelFile>foto_zoom.xml</levelFile>
			<levelType>IMAGE_ZOOM_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Foto Online</levelId>
			<levelTitle>Foto</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/foto_zoom.xml</levelFile>
			<levelType>IMAGE_ZOOM_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>PDF</levelId>
			<levelTitle>PDF</levelTitle>
			<levelFile>pdf_contenido.xml</levelFile>
			<levelType>PDF_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>PDF Online</levelId>
			<levelTitle>PDF</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/pdf_contenido.xml</levelFile>
			<levelType>PDF_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>PDF FlipLeft</levelId>
			<levelTitle>PDF</levelTitle>
			<levelFile>pdf_contenido.xml</levelFile>
			<levelType>PDF_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>FlipLeft</levelTransition>
		</level>
		<level>
			<levelId>Mapa</levelId>
			<levelTitle>Mapa</levelTitle>
			<levelFile>Mapa.xml</levelFile>
			<levelType>MAP_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Mapa Online</levelId>
			<levelTitle>Mapa</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/Mapa.xml</levelFile>
			<levelType>MAP_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Formularios</levelId>
			<levelTitle>Formularios</levelTitle>
			<levelFile>lista_formulario.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Formulario1</levelId>
			<levelTitle>Formulario 1</levelTitle>
			<levelFile>form_1.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Formulario2</levelId>
			<levelTitle>Formulario 2</levelTitle>
			<levelFile>form_2.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Formulario3</levelId>
			<levelTitle>Formulario 3</levelTitle>
			<levelFile>form_3.xml</levelFile>
			<levelType>FORM_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Utilidades</levelId>
			<levelTitle>Utilidades</levelTitle>
			<levelFile>util_lista.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>	
			<levelId>Lector QR</levelId>
			<levelTitle>Lector QR</levelTitle>
			<levelFile>lector_qr.xml</levelFile>
			<levelType>QR_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Contenedor Web Html</levelId>
			<levelTitle>Contenedor Web</levelTitle>
			<levelFile>web_Html.xml</levelFile>
			<levelType>WEB_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Contenedor Web</levelId>
			<levelTitle>Contenedor Web</levelTitle>
			<levelFile>web.xml</levelFile>
			<levelType>WEB_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Contenedor Web FlipRight</levelId>
			<levelTitle>Contenedor Web</levelTitle>
			<levelFile>web.xml</levelFile>
			<levelType>WEB_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>FlipRight</levelTransition>
		</level>
		<level>
			<levelId>Transiciones</levelId>
			<levelTitle>Transiciones</levelTitle>
			<levelFile>transiciones.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Servicios</levelId>
			<levelTitle>Servicios</levelTitle>
			<levelFile>servicios_lista.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Notificaciones</levelId>
			<levelTitle>Notificaciones</levelTitle>
			<levelFile>notificaciones_texto.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Tracking Usuarios</levelId>
			<levelTitle>Tracking Usuarios</levelTitle>
			<levelFile>tracking_texto.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Monetización Ads</levelId>
			<levelTitle>Monetización Ads</levelTitle>
			<levelFile>monetizar_texto.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Gestión Web</levelId>
			<levelTitle>Gestión Web</levelTitle>
			<levelFile>gestion_texto.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Web Services</levelId>
			<levelTitle>Web Services</levelTitle>
			<levelFile>web_services_texto.xml</levelFile>
			<levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Navegación</levelId>
			<levelTitle>Navegación</levelTitle>	
			<levelFile>navegacion_lista.xml</levelFile>
			<levelType>LIST_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Calendar</levelId>
			<levelTitle>Calendar</levelTitle>
			<levelFile>calendar.xml</levelFile>
			<levelType>CALENDAR_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>QUIZ</levelId>
			<levelTitle>QUIZ</levelTitle>
			<levelFile>quiz.xml</levelFile>
			<levelType>QUIZ_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>QUIZ Online</levelId>
			<levelTitle>QUIZ</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/quiz.xml</levelFile>
			<levelType>QUIZ_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Aventura</levelId>
			<levelTitle>Aventura</levelTitle>
			<levelFile>aventura.xml</levelFile>
			<levelType>QUIZ_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>Aventura Online</levelId>
			<levelTitle>Aventura</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/aventura.xml</levelFile>
			<levelType>QUIZ_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>CANVAS</levelId>
			<levelTitle>CANVAS</levelTitle>
			<levelFile>canvas.xml</levelFile>
			<levelType>CANVAS_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>CANVAS Online</levelId>
			<levelTitle>CANVAS</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/canvas.xml</levelFile>
			<levelType>CANVAS_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>AUDIO</levelId>
			<levelTitle>AUDIO</levelTitle>
			<levelFile>audio_local.xml</levelFile>
			<levelType>AUDIO_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>AUDIO Online</levelId>
			<levelTitle>AUDIO</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/audio_local.xml</levelFile>
			<levelType>AUDIO_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>AUDIO Url</levelId>
			<levelTitle>AUDIO</levelTitle>
			<levelFile>audio_url.xml</levelFile>
			<levelType>AUDIO_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
		<level>
			<levelId>AUDIO Url Online</levelId>
			<levelTitle>AUDIO</levelTitle>
			<levelFile>http://www.emobc.com/demo/xml/audio_url.xml</levelFile>
			<levelType>AUDIO_ACTIVITY</levelType>
			<levelXib/>
			<levelTransition>None</levelTransition>
		</level>
	</levels>
</application>